@media only screen and (max-width: 426px) {
  .elenco-ricette {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  .link-ricetta {
    text-decoration: none;
  }

  .messaggio-nessuna-ricetta {
    font-size: 1rem;
    text-align: center;
    margin-top: 9rem;
    color: #888;
    height: 100vh;
  }
}

@media only screen and (min-width: 427px) and (max-width: 1023px) {
  .elenco-ricette {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  .link-ricetta {
    text-decoration: none;
  }

  .messaggio-nessuna-ricetta {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 5rem;
    color: #888;
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .elenco-ricette {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    padding: 130px 20px 130px !important;
    justify-content: center;
  }

  .link-ricetta {
    text-decoration: none;
  }
  .messaggio-nessuna-ricetta {
    font-size: 3.4rem;
    text-align: center;
    margin-top: 5rem;
    color: #888;
    height: 100vh;
  }
}
